Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [4]:
a = "Hello World"
print(a)

Hello World

In [5]:
type(a)

str

In [25]:
l = [25,35,"Rohit",45.80,3+4j]
print(l)

[25, 35, 'Rohit', 45.8, (3+4j)]

In [7]:
type(l)

list

In [8]:
b = (25.50)
print(b)

25.5

In [9]:
type(b)

float

In [22]:
tup = (-4,"Dhoni",)
print(tup)

(-4, 'Dhoni')

In [23]:
type(tup)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [29]:
var1 = "" 
type(var1)

str

In [30]:
var2 ="[DS,ML,PYTHON]"
type(var2)

str

In [33]:
var3 =["DS","ML","PYTHON"]
type(var3)

list

In [34]:
var4 = 4
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [42]:
#  / IS A DIVISION OPERATOR.
6/3

2.0

In [47]:
# % IS A MODULUS OPERATOR.
5%4

1

In [54]:
# IS A FLOOR DIVISION OPWERATOR 
25//6

4

In [56]:
# ** IS A POWER OPERATOR
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [64]:
l = [2,3,4,True,"ROhit",3+5j,35.50,"OM SHANTI OM",55,20.40]
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'str'>
<class 'complex'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [113]:
A = int(input("Enter number A: "))
temp_A = A

B = int(input("Enter number B: "))

count= 0
while temp_A%B==0:
    count+=1
    temp_A = temp_A/B
    
if count > 0:
    print(f'{A} is purely divisible by {B} in {count} number of times')
else:
    print(f'{A} is not divisible by {B}')

Enter number A:  45
Enter number B:  5

45 is purely divisible by 5 in 1 number of times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [72]:
l = [3,6,9,13,15,18,20,24,30,33,35,39,42,45,50,70,75,78,85,100]
for i in l:
    print(i)
    if i%3:
        print("The numbers are divisible by 3")
    else:
        print("The numbers are not divisible by 3")

3
The numbers are not divisible by 3
6
The numbers are not divisible by 3
9
The numbers are not divisible by 3
13
The numbers are divisible by 3
15
The numbers are not divisible by 3
18
The numbers are not divisible by 3
20
The numbers are divisible by 3
24
The numbers are not divisible by 3
30
The numbers are not divisible by 3
33
The numbers are not divisible by 3
35
The numbers are divisible by 3
39
The numbers are not divisible by 3
42
The numbers are not divisible by 3
45
The numbers are not divisible by 3
50
The numbers are divisible by 3
70
The numbers are divisible by 3
75
The numbers are not divisible by 3
78
The numbers are not divisible by 3
85
The numbers are divisible by 3
100
The numbers are divisible by 3

 Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [95]:
 # MUTABLE DATA TYPES IS ALLOWED TO REPLACE IN VALUES CONTAINING A LIST FUNCTION.
 # THEY CAN BE REPLACE BY SOME ANOTHER VALUES ACCORDING TO THEIR INDEXING.
l = [ 23,45,"ROHIT",45.90,True,3+5j]
 type(l)

list

In [96]:
l

[23, 45, 'ROHIT', 45.9, True, (3+5j)]

In [99]:
l[1]="45 is replace by 100"
l

[23, '45 is replace by 100', 'ROHIT', 45.9, True, (3+5j)]

In [103]:
# IMMUTABLE DATA TYPES CANNOT BE ALLOWED TO CHANGE THEIR VALUES BY SOME OTHERS VALUES.
# BUT IMMUTABLE DATA TYPES CAN BE ONLY APPLIED ON STRINGS.BUT STRINGS CANNOT BE CHANGE IN IMMUTABLE DATA TYPES.
# WHEN WE TRY TO REPLACE ITS VALUE THEN IMMEDIATELY SHOWN A ERROR.
a = "EVERYTHING IS POSSIBLE"
a(1)==25

TypeError: 'str' object is not callable